<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmOIRHqYt5rY7A7yaVImxsN8x-Gs4gbR4</string>
	<key>GCM_SENDER_ID</key>
	<string>1015255635891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vibe.VibeRecorder</string>
	<key>PROJECT_ID</key>
	<string>screen-recorder-3223b</string>
	<key>STORAGE_BUCKET</key>
	<string>screen-recorder-3223b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015255635891:ios:eb4c55d4c5f0e7fe1e1dc6</string>
</dict>
</plist>